:root {
    --background-colour: #FFFFFF;
    --navigation-font: #4C4C4C;
    --button-background: #F8F9FA;
    --button-font: #3C4043;
    --footer-background: #F2F2F2;
    --footer-font: #70757a;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  background-color: var(--background-colour);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-color: transparent;
}

input {
  border: none;
  outline: none;
}

/* NAVIGATION */

.navigation {
  height: 60px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 6px;
  justify-content: flex-end;

}

.nav-link {
  display: inline-block;
  margin-right: 15px;
  line-height: 24px;
  opacity: 0.87;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.menu {
  background-image: url(/images/menu.svg);
  opacity: 0.60;
  width: 24px;
  height: 24px;
  margin: 8px;
  border: #FFFFFF;
  background-color: var(--background-colour);
  cursor: pointer;
  display: inline-block;
  
}

.sign-in {
  padding: 9px 23px;
  margin: 0px 8px 0px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #1a73e8;
  cursor: pointer;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10rem;
}

.logo {
  transform: scale(0.5, 0.5);
  margin-bottom: -30px
}

.searchbox-area {
  padding: 0px 20px 0px 20px;
}

.searchbar {
  background: var(--background-colour);
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  width: 589px;
}

.searchbar:hover {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.searchbar-input {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 5px;
  margin-right: 16px;
  font-size: 17px;
}

.mag-class {
  width: 20px;
  height: 20px;
  display: flex;
  margin-top: 0.75rem;
  margin-left: 1rem;
  opacity: 0.4;
}

.colourful-mic {
  width: 24px;
  height: 24px;
  display: flex;
  margin-top: -1.5rem;
  margin-left: 34rem;
  align-items: center;
  justify-content: center;
}

.searchbar-input {
  width: 90%;
}

.main-button {
  margin-top: 1.1rem;
}

.search-submit-buttons {
  background-color: var(--button-background);
  border: 1px solid var(--button-background);
  border-radius: 4px;
  color: var(--button-font);
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  align-items: flex-start;
}

.search-submit-buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c694;
    color: #222;
    
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #dadce0;
  font-size: 14px;
  background: var(--footer-background);
  color: var(--footer-font);
  justify-content: space-evenly;
}


.left-footer .right-footer {
  display: flex;
}

.left-footer a {
  display: block;
  float: left;
  padding: 15px 20px;
}

.right-footer a {
  display: block;
  float: right;
  padding: 15px 20px;
}

/* MEDIA When screen is smaller than 660px the website becomes responsive */

@media screen and (max-width: 660px) {
  .searchbox-area, .searchbar, .searchbar-input .footer {
    display: block;
    width: 100%;
    margin: auto 0;
    padding: 0px 20px 0px 20px;
  }
}